* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans";
}

html, body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding-bottom: 20px;
}

@font-face {
  font-family: GillSans;
  src: url(fonts/GillSans.ttc);
}
@font-face {
  font-family: Proxima;
  src: url(fonts/Proxima_Nova_ScOsf_Extra_Condensed_Bold.ttf);
}
.hero {
  width: 1280px;
  height: 500px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/home-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding-top: 20px;
  display: block;
}
.hero nav {
  width: 1280px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.hero nav .logo {
  width: 92px;
  height: 42px;
  align-self: center;
}
.hero nav .links {
  width: 400px;
  height: 42px;
  font-family: GillSans;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero nav .links div.pipe {
  color: #79ADDC;
  font-size: 20px;
}
.hero nav .links div a {
  font-family: "GillSans";
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  margin: auto;
  text-transform: lowercase;
}
.hero .bannertext {
  width: 1280px;
  text-align: center;
  font-size: 50px;
  color: white;
  padding-top: 80px;
  display: block;
  text-align: center;
}
.hero .lorem {
  text-align: center;
  color: white;
}
.hero .readmore {
  background-color: #79ADDC;
  padding: 15px 30px;
  width: 150px;
  text-align: center;
  left: 565px;
  top: 50px;
  color: white;
  margin: 0 auto;
}

nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: #fff solid 3px;
}

.logo {
  width: 92px;
  height: 42px;
  align-self: center;
}

.links {
  width: 400px;
  height: 42px;
  font-family: GillSans;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.pipe {
  color: #79ADDC;
  font-size: 20px;
}
div a {
  font-family: "GillSans";
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  margin: auto;
  text-transform: lowercase;
}

.hero-content {
  height: 350px;
  /*background-color: rgba(100,100,100,.5);*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content h1 {
  color: #fff;
}

.hero-content .page-name {
  text-transform: capitalize;
}

.home-hero-image {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero/home-hero.jpeg);
}

.about-hero-image {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero/about-hero.jpg);
}

.specialoffers-hero-image {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero/specialoffers-hero.jpg);
}

.blog-hero-image {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero/tours-hero.jpg);
}

.products-hero-image {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero/blog-hero.jpg);
}

.contact-hero-image {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero/contact-hero.jpg);
}

.promo-tours {
  width: 1280px;
  height: 304px;
  margin: -50px auto;
  display: flex;
  justify-content: space-around;
  padding-left: 150px;
  padding-right: 150px;
}
.promo-tours .promo {
  height: 304px;
  width: 236px;
  background-color: bisque;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.promo-tours .promo .header {
  font-family: GillSans;
  font-size: 40px;
  margin-bottom: 15px;
}
.promo-tours .promo .price {
  margin-bottom: 70px;
}
.promo-tours .promo .learn-more {
  background-color: #79ADDC;
  padding: 10px 30px;
  border-radius: 20px;
}
.promo-tours .israel {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-01.jpg);
}
.promo-tours .usa {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-02.jpg);
}
.promo-tours .austrailia {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-03.jpg);
}

footer {
  max-width: 100%;
  height: 100px;
  background-color: #79ADDC;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0px 120px;
  margin-top: 130px;
  margin-bottom: 0px;
  position: relative;
}
footer .logo {
  width: 92px;
  height: 42px;
  align-self: center;
}
footer .copyright {
  font-size: 12px;
  align-self: center;
  color: #fff;
}
footer .socialmedia {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  color: #fff;
}

@media only screen and (max-width: 1060px) {
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #79ADDC;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 120px;
    margin-top: 130px;
  }

  footer .logo {
    width: 92px;
    height: 42px;
    align-self: center;
  }

  footer .copyright {
    font-size: 12px;
    align-self: center;
    color: #fff;
  }

  footer .socialmedia {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    color: #fff;
  }
}
.booking-form {
  width: 1280px;
  height: 800px;
  margin: 100px auto -100px auto;
  background-color: beige;
  display: flex;
  flex-direction: column;
}
.booking-form .h1 {
  font-size: 50px;
}
.booking-form .row1 {
  width: 818px;
  flex-direction: row;
  justify-content: space-between;
}
.booking-form .row1 .name {
  margin: 40px auto;
  width: 344px;
  height: 58px;
  padding: 10px 30px;
  border: #79ADDC solid 1px;
}
.booking-form .row1 .email {
  margin: 40px auto;
  width: 453px;
  height: 58px;
  padding: 10px 30px;
  border: #79ADDC solid 1px;
}
.booking-form .row2 {
  flex-direction: row;
  justify-content: space-between;
}
.booking-form .row2 .country {
  flex-direction: row;
  margin: 40 auto;
  width: 344px;
  height: 58px;
  padding: 10px 30px;
  border: #79ADDC solid 1px;
}
.booking-form .row2 .hotel {
  flex-direction: row;
  margin: 40 auto;
  width: 453px;
  height: 58px;
  padding: 10px 30px;
  border: #79ADDC solid 1px;
}
.booking-form .row3 {
  border: #79ADDC solid 1px;
  height: 58px;
}
.booking-form .row3 .check-in {
  width: 698px;
}
.booking-form .row4 {
  border: #79ADDC solid 1px;
  height: 58px;
}
.booking-form .row4 .check-out {
  width: 698px;
}
.booking-form .row5 {
  flex-direction: row;
  justify-content: space-between;
}
.booking-form .row5 .adult {
  border: #79ADDC solid 1px;
  height: 58px;
}
.booking-form .row5 .children {
  border: #79ADDC solid 1px;
  height: 58px;
}
.booking-form .row5 .rooms {
  border: #79ADDC solid 1px;
  height: 58px;
}
.booking-form .message {
  border: #79ADDC solid 1px;
  width: 800px;
  height: 192px;
}

nav {
  width: 980px;
  height: 60px;
  border-bottom: #fff solid 3px;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: space-between;
}
nav .logo {
  width: 92px;
  height: 42px;
  align-self: center;
}
nav .links {
  width: 400px;
  height: 42px;
  font-family: GillSans;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .links div.pipe {
  color: #79ADDC;
  font-size: 20px;
}
nav .links div a {
  font-family: "GillSans";
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  margin: auto;
  text-transform: lowercase;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans";
}

html, body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding-bottom: 20px;
}

@font-face {
  font-family: GillSans;
  src: url(fonts/GillSans.otf);
}
.about {
  max-width: 980px;
  margin: 0 auto;
}
.about .about-top-section {
  margin-top: 100px;
  padding-bottom: 5px;
}
.about .about-top-section .about-title {
  border-bottom: black solid 3px;
  width: 100px;
  padding-bottom: 20px;
}
.about .about-bottom-section {
  margin-top: 100px;
}
.about .about-bottom-section h3 {
  flex-direction: row;
  border-bottom: black solid 3px;
  width: 80px;
}
.about .about-bottom-section .client {
  max-width: 676px;
  min-height: 150px;
  display: flex;
  margin-bottom: 38px;
}
.about .about-bottom-section .client .client-image {
  width: 260px;
  height: 150px;
}
.about .about-bottom-section .client .client-image img {
  height: 100%;
}
.about .about-bottom-section .client .client1 {
  background-image: url(../images/about-client-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about .about-bottom-section .client .client2 {
  background-image: url(../images/about-client-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about .about-bottom-section .client .client-quote {
  position: relative;
  min-height: 50px;
  width: 100%;
  padding-left: 25px;
  flex-direction: row;
}
.about .about-bottom-section .client .client-quote p:last-of-type {
  color: black;
  margin-bottom: 25px;
}
.about .about-bottom-section .client .client-quote p:last-of-type:last-child {
  color: gray;
}
.about .about-bottom-section .client .client-quote .client-name {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #79ADDC;
}

@media only screen and (max-width: 600px) {
  .about .about-bottom-section {
    padding: 10px;
  }
}
.nav {
  width: 980px;
  height: 60px;
  border-bottom: black solid 3px;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: space-between;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav .logo {
  width: 92px;
  height: 42px;
  align-self: center;
}
.nav .links {
  width: 400px;
  height: 42px;
  font-family: "GillSans";
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .links div.pipe {
  color: #79ADDC;
  font-size: 20px;
}
.nav .links div a {
  font-size: 15px;
  text-decoration: none;
  color: black;
  margin: auto;
  text-transform: lowercase;
}

@media only screen and (max-width: 1060px) {
  .nav {
    max-width: 980px;
    height: 60px;
    border-bottom: black solid 3px;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .nav .logo {
    width: 92px;
    height: 42px;
    align-self: center;
  }

  .nav .links {
    width: 400px;
    height: 42px;
    font-family: GillSans;
    align-self: center;
    justify-content: space-between;
    align-items: center;
  }

  .nav .links div.pipe {
    color: #79ADDC;
    font-size: 20px;
  }

  .nav .links div a {
    font-family: "GillSans";
    font-size: 15px;
    text-decoration: none;
    color: black;
    margin: 0 auto;
    text-transform: lowercase;
  }
}
.hero {
  width: 1280px;
  height: 500px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/home-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding-top: 20px;
}
.hero nav {
  width: 980px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 30px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.hero nav .logo {
  width: 92px;
  height: 42px;
  align-self: center;
}
.hero nav .links {
  width: 400px;
  height: 42px;
  font-family: GillSans;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero nav .links div.pipe {
  color: #79ADDC;
  font-size: 20px;
}
.hero nav .links div a {
  font-family: "GillSans";
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  margin: auto;
  text-transform: lowercase;
}
.hero .bannertext {
  text-align: center;
  font-size: 50px;
  color: white;
  padding-top: 80px;
}
.hero .lorem {
  text-align: center;
  color: white;
}
.hero .readmore {
  background-color: #79ADDC;
  padding: 15px 30px;
  width: 150px;
  text-align: center;
  left: 565px;
  top: 50px;
  color: white;
  margin: 0 auto;
}

nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 30px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: #fff solid 3px;
}

.logo {
  width: 92px;
  height: 42px;
  align-self: center;
}

.links {
  width: 400px;
  height: 42px;
  font-family: GillSans;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.pipe {
  color: #79ADDC;
  font-size: 20px;
}
div a {
  font-family: "GillSans";
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  margin: auto;
  text-transform: lowercase;
}

.hero-content {
  height: 350px;
  /*background-color: rgba(100,100,100,.5);*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content h1 {
  color: #fff;
}

.hero-content .page-name {
  text-transform: capitalize;
}

.home-hero-image {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero/home-hero.jpeg);
}

.about-hero-image {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero/about-hero.jpg);
}

.specialoffers-hero-image {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero/specialoffers-hero.jpg);
}

.blog-hero-image {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero/tours-hero.jpg);
}

.products-hero-image {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero/blog-hero.jpg);
}

.contact-hero-image {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero/contact-hero.jpg);
}

.specialoffers {
  font-family: Proxima;
  width: 980px;
  height: 700px;
  display: block;
  margin: 0 auto;
  position: relative;
}
.specialoffers .headline {
  padding-left: 0px;
  font-size: 30px;
  width: 980px;
  height: 90px;
  margin-top: 50px;
  flex-direction: row;
}
.specialoffers .headline .headlineborder {
  border-bottom: black 3px;
  width: 199px;
}
.specialoffers .offers .offer1 {
  display: flex;
  height: 287px;
  flex-direction: row;
}
.specialoffers .offers .offer1 .barcelonaimage {
  width: 199px;
  height: 287px;
  background-image: url(../images/special-offer-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.specialoffers .offers .offer1 .barcelonasection1 {
  font-size: 12px;
  padding-left: 10px;
  width: 306px;
  height: 287px;
}
.specialoffers .offers .offer1 .barcelonasection1 .barcelonaheadline {
  font-size: 30px;
  height: 50px;
  width: 306px;
}
.specialoffers .offers .offer1 .barcelonasection1 .barcelonasale {
  padding-left: 10px;
  padding-top: 3px;
}
.specialoffers .offers .offer1 .barcelonasection1 .barcelonaborder {
  border-bottom: black 3px;
  width: 196px;
}
.specialoffers .offers .offer1 .barcelonasection1 .lorem {
  height: 202px;
  width: 290px;
}
.specialoffers .offers .offer1 .barcelonasection1 .learn-more {
  background-color: #79ADDC;
  padding: 10px 30px;
  border-radius: 20px;
  width: 133px;
  color: white;
  text-align: center;
}
.specialoffers .offers .offer1 .barcelonasection2 .barcelonasale {
  padding-left: 10px;
  padding-top: 3px;
}
.specialoffers .offers .offer2 {
  margin-top: 60px;
  display: flex;
  height: 347px;
  flex-direction: row;
}
.specialoffers .offers .offer2 .bangkokimage {
  width: 199px;
  height: 287px;
  background-image: url(../images/special-offer-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.specialoffers .offers .offer2 .bangkoksection1 {
  font-size: 12px;
  padding-left: 10px;
  width: 306px;
}
.specialoffers .offers .offer2 .bangkoksection1 .bangkokheadline {
  font-size: 30px;
  height: 50px;
  width: 306px;
}
.specialoffers .offers .offer2 .bangkoksection1 .bangkoksale {
  padding-left: 10px;
  padding-top: 3px;
}
.specialoffers .offers .offer2 .bangkoksection1 .bangkokborder {
  border-bottom: black 3px;
  width: 214px;
}
.specialoffers .offers .offer2 .bangkoksection1 .lorem {
  height: 202px;
  width: 290px;
}
.specialoffers .offers .offer2 .bangkoksection1 .learn-more {
  background-color: #79ADDC;
  padding: 10px 20px;
  border-radius: 20px;
  width: 133px;
  color: white;
  text-align: center;
}
.specialoffers .offers .offer2 .bangkoksection2 .bangkoksale {
  padding-left: 10px;
  padding-top: 3px;
}

@media only screen and (max-width: 795px) {
  .specialoffers .headline {
    margin-left: 30%;
    align-self: center;
  }
  .specialoffers .offers .offer1 {
    flex-direction: column;
  }
  .specialoffers .offers .offer1 .barcelonaimage {
    width: 100%;
    flex-direction: column;
  }
  .specialoffers .offers .offer1 .barcelonasection1 {
    width: 100%;
  }
  .specialoffers .offers .offer1 .barcelonasection2 {
    flex-wrap: wrap;
  }
  .specialoffers .offers .offer2 {
    flex-direction: column;
  }
  .specialoffers .offers .offer2 .bangkokimage {
    width: 100%;
    flex-direction: column;
  }
  .specialoffers .offers .offer2 .bangkoksection1 {
    width: 100%;
  }
  .specialoffers .offers .offer2 .bangkoksection2 {
    flex-wrap: wrap;
  }
}
.blog {
  font-family: Gill Sans;
  display: block;
  max-width: 980px;
  height: 1200px;
  margin: 0 auto;
  position: relative;
}
.blog .blogheadline {
  flex-direction: row;
  padding-top: 50px;
  font-size: 30px;
  height: 110px;
  background-size: cover;
  width: 980px;
}
.blog .blogheadline .blogheadlineborder {
  width: 106px;
  height: 10px;
  border-bottom: 3px solid black;
}
.blog .date1 {
  flex-wrap: wrap;
  width: 80px;
  height: 259px;
  float: left;
  flex-direction: column;
}
.blog .date1 .datebox {
  background-color: #79ADDC;
  height: 60px;
  width: 60px;
  margin-right: 20px;
  color: white;
  font-family: Gill Sans;
  -webkit-text-decoration: bold;
          text-decoration: bold;
  text-align: center;
  padding-top: 10px;
  font-size: 22px;
}
.blog .date1 .datebox .date {
  font-size: 22px;
}
.blog .date1 .datebox .month1 {
  font-size: 12px;
}
.blog .blogsection1image {
  flex-wrap: wrap;
  margin-left: 80px;
  width: 900px;
  height: 259px;
  background-image: url(../images/blog.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}
.blog .blogsection1 {
  flex-direction: column;
  height: 136px;
  width: 980px;
}
.blog .blogsection1 .span1 {
  padding: 25px 80px 0px 80px;
  font-size: 15px;
  color: black;
}
.blog .blogsection1 .span2 {
  padding: 15px 80px;
  color: #79ADDC;
  font-size: 13px;
  width: 460px;
}
.blog .nothingness {
  height: 100px;
  width: 980px;
}
.blog .date2 {
  flex-wrap: wrap;
  width: 80px;
  height: 259px;
  float: left;
  flex-direction: column;
}
.blog .date2 .datebox {
  background-color: #79ADDC;
  height: 60px;
  width: 60px;
  margin-right: 20px;
  color: white;
  font-family: Gill Sans;
  -webkit-text-decoration: bold;
          text-decoration: bold;
  text-align: center;
  padding-top: 10px;
  font-size: 22px;
}
.blog .date2 .datebox .date {
  font-size: 22px;
}
.blog .date2 .datebox .month1 {
  font-size: 12px;
}
.blog .blogsection2image {
  flex-wrap: wrap;
  margin-left: 80px;
  width: 900px;
  height: 259px;
  background-image: url(../images/blog.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}
.blog .blogsection2 {
  flex-direction: column;
  height: 136px;
  width: 980px;
}
.blog .blogsection2 .span3 {
  padding: 25px 80px 0px 80px;
  font-size: 15px;
  color: black;
}
.blog .blogsection2 .span4 {
  padding: 15px 80px;
  color: #79ADDC;
  font-size: 13px;
  width: 460px;
  margin-bottom: 150px;
}

@media only screen and (max-width: 795px) {
  .blog {
    max-width: 80%;
  }
  .blog .blogheadline {
    padding-left: 0px;
    width: 980px;
    flex-direction: row;
    border-bottom: black 3px;
    max-width: 80%;
    align-items: center;
  }
}
.contact {
  font-family: Gill Sans;
  display: block;
  width: 980px;
  height: 890px;
  margin: 0 auto;
  position: relative;
}
.contact .headline {
  display: block;
  padding-top: 50px;
  font-size: 30px;
  height: 150px;
  background-size: cover;
  width: 980px;
}
.contact .headline .headlineborder {
  width: 159px;
  height: 10px;
  border-bottom: 3px solid black;
}
.contact .contactsection {
  display: flex;
}
.contact .contactsection .contactcolumn1 {
  width: 400px;
  height: 442px;
  background-image: url(../images/map.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}
.contact .contactsection .contactcolumn1 .contactimage {
  width: 400px;
  height: 442px;
}
.contact .contactsection .contactcolumn1 .contactaddress {
  height: 161px;
  font-size: 18px;
  padding-top: 40px;
}
.contact .contactsection .contactcolumn2 {
  flex-direction: column;
  width: 552px;
  background-color: white;
  height: 442px;
  margin-left: 50px;
  font-size: 16px;
}
.contact .contactsection .contactcolumn2 .yourname {
  height: 60px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 21px;
}
.contact .contactsection .contactcolumn2 .email {
  height: 60px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 21px;
}
.contact .contactsection .contactcolumn2 .company {
  height: 60px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 21px;
}
.contact .contactsection .contactcolumn2 .message {
  height: 199px;
  background-color: #f5f5f5;
  padding-left: 20px;
  padding-top: 21px;
  padding-bottom: 20px;
}
.contact .contactsection .contactcolumn2 .sendmessage {
  margin-top: 22px;
  padding-top: 21px;
  width: 167px;
  height: 60px;
  background-color: #79ADDC;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 795px) {
  .contact {
    margin: 0 auto;
    height: 1590px;
  }
  .contact .headline {
    margin-left: 30%;
    align-self: center;
  }
  .contact .contactsection {
    width: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .contact .contactsection .contactcolumn1 {
    display: block;
    width: 100%;
  }
  .contact .contactsection .contactcolumn1 .contactaddress {
    text-align: center;
  }
  .contact .contactsection .contactcolumn2 {
    display: block;
    margin-top: 220px;
    margin-left: 0px;
    width: 100%;
    margin-bottom: 100px;
  }
  .contact .contactsection .contactcolumn2 .sendmessage {
    margin-left: auto;
    margin-right: auto;
  }
}