.nav {
    width: 980px;
    height: 60px;
    border-bottom: black solid 3px;
    //background-color: red;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


    .logo {
        //background-color: red;
        width: 92px;
        height: 42px;
        align-self: center;
    }
    .links {
        width: 400px;
        height: 42px;
        font-family: 'GillSans';
        align-self: center;
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            &.pipe {
                color: $site-blue;
                font-size: 20px;
            }
            //margin: auto;
            a {
                //font-family: "GillSans";
                font-size: 15px;
                text-decoration: none;
                color: black;
                margin: auto;
                text-transform: lowercase;
            }
        }

        
    }

}
//@media only screen and (max-width: 1060px) {
    //.nav {
        //width: 80%;
//}
//}
@media only screen and (max-width: 1060px) {
    //@media only screen and (max-width: 1060px) { if it doesn't work, try this. This was originally located outside of the brackets at the bottom.
       // .nav {
          //width: 80%;
        //}
      //}
  .nav {
    max-width: 980px;
    height: 60px;
    border-bottom: black solid 3px;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .nav .logo {
    width: 92px;
    height: 42px;
    align-self: center;
  }
  .nav .links {
    width: 400px;
    height: 42px;
    font-family: GillSans;
    align-self: center;
    //display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav .links div.pipe {
    color: #79ADDC;
    font-size: 20px;
  }
  .nav .links div a {
    font-family: "GillSans";
    font-size: 15px;
    text-decoration: none;
    color: black;
    margin: 0 auto;
    text-transform: lowercase;
  }
}

  //@media only screen and (max-width: 1060px) {
    //.nav {
      //width: 80%;
    //}
  //}