.specialoffers{
    font-family: Proxima;
    width: 980px;
    height: 700px;
    display: block;
    margin: 0 auto;
    //background-color: black; // This is a pretty good indicator that the CSS isn't updating
    position: relative;


    .headline{
        padding-left: 0px;
        font-size: 30px;
        width: 980px;
        height:90px;
        margin-top: 50px;
        flex-direction: row;
        //border-bottom: black 3px;


        .headlineborder{
            border-bottom: black 3px;
            width:199px;
        }

    }
    .offers{
        .offer1{
            display:flex;
            height: 287px;
            flex-direction: row;
            .barcelonaimage{
                width: 199px;
                height: 287px;
                background-image: url(../images/special-offer-01.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            .barcelonasection1{
                font-size: 12px;
                padding-left: 10px;
                width: 306px;
                height: 287px;
                .barcelonaheadline{
                    font-size: 30px;
                    height:50px;
                    width:306px;
                }

               .barcelonasale{
                   //position:fixed;
                   padding-left: 10px;
                   padding-top: 3px;
               } 
               .barcelonaborder {
                    border-bottom: black 3px;
                    width:196px;
               }
               .lorem {
                height:202px;
                width: 290px;
               }
               .learn-more {
                background-color: $site-blue;
                padding: 10px 30px;
                border-radius: 20px;
                width:133px;
                color: white;
                text-align: center;
                }
            }
            .barcelonasection2 {

                .barcelonasale{
                    //position:fixed;
                    padding-left: 10px;
                    padding-top: 3px;
                }
            }
        }
        .offer2{
            margin-top: 60px;
            display:flex;
            height: 347px;
            flex-direction: row;
            .bangkokimage{
                width: 199px;
                height: 287px;
                background-image: url(../images/special-offer-02.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            .bangkoksection1{
                font-size: 12px;
                padding-left: 10px;
                width: 306px;

                .bangkokheadline{
                    font-size: 30px;
                    height:50px;
                    width:306px;
                }

               .bangkoksale{
                   padding-left: 10px;
                   padding-top: 3px;
               } 
               .bangkokborder {
                    border-bottom: black 3px;
                    width:214px;
               }
               .lorem {
                    height:202px;
                    width: 290px;
               }
               .learn-more {
                background-color: $site-blue;
                padding: 10px 20px;
                border-radius: 20px;
                width:133px;
                color: white;
                text-align: center;
            }

            }
            .bangkoksection2 {

                .bangkoksale{
                    padding-left: 10px;
                    padding-top: 3px;
                }
            } 
        }
    }
}
@media only screen and (max-width: 795px) {
    .specialoffers{



        .headline {
            margin-left: 30%;
            align-self: center;
        }

        .offers {
            //display: block;

            .offer1 {
                flex-direction: column;

                .barcelonaimage{
                    width:100%;
                    flex-direction: column;
                }

                .barcelonasection1 {
                    width: 100%;
                }

                .barcelonasection2 {
                    flex-wrap: wrap;
                }
            }

            .offer2 {
                flex-direction: column;

                .bangkokimage {
                    width:100%;
                    flex-direction: column;
                }

                .bangkoksection1 {
                    width: 100%;
                }

                .bangkoksection2 {
                    flex-wrap: wrap;
                }

            }


        }



    }




}