* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans";
}

html, body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding-bottom: 20px;
}

@font-face {
  font-family: GillSans;
  src: url(fonts/GillSans.otf);
}
.about {
  max-width: 980px;
  margin: 0 auto;
}
.about .about-top-section {
  margin-top: 100px;
  padding-bottom: 5px;
}
.about .about-top-section .about-title {
  border-bottom: black solid 3px;
  width: 100px;
  padding-bottom: 20px;
}
.about .about-bottom-section {
  margin-top: 100px;
}
.about .about-bottom-section h3 {
  flex-direction: row;
  border-bottom: black solid 3px;
  width: 80px;
}
.about .about-bottom-section .client {
  max-width: 676px;
  min-height: 150px;
  display: flex;
  margin-bottom: 38px;
}
.about .about-bottom-section .client .client-image {
  width: 260px;
  height: 150px;
}
.about .about-bottom-section .client .client-image img {
  height: 100%;
}
.about .about-bottom-section .client .client1 {
  background-image: url(../images/about-client-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about .about-bottom-section .client .client2 {
  background-image: url(../images/about-client-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about .about-bottom-section .client .client-quote {
  position: relative;
  min-height: 50px;
  width: 100%;
  padding-left: 25px;
  flex-direction: row;
}
.about .about-bottom-section .client .client-quote p:last-of-type {
  color: black;
  margin-bottom: 25px;
}
.about .about-bottom-section .client .client-quote p:last-of-type:last-child {
  color: gray;
}
.about .about-bottom-section .client .client-quote .client-name {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #79ADDC;
}

@media only screen and (max-width: 600px) {
  .about .about-bottom-section {
    padding: 10px;
  }
}