.booking-form {
    width: 890px;
    height: 1500px;
    margin: 100px auto -100px auto;
    //background-color: beige;
    display: flex;
    flex-direction: column;
    
    .h1 {
        font-size: 50px;
    }

    .row1 {
        width:890px;
        height: 78px;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        .name {
            //margin: 40px auto 40 auto;
            width: 344px;
            height: 58px;
            //background-color: $site-blue;
            padding: 17px 30px;
            border: $site-blue solid 1px;
            float: left;
            
        }
        .email {
            //margin: 40px auto;
            width: 453px;
            height: 58px;
            //background-color: $site-blue;
            padding: 17px 30px;
            border: $site-blue solid 1px;
            float: right;
        } 
    }
    .row2{
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        .country {
            flex-direction: row;
            //margin-bottom: 20px;
            //margin: 40 auto;
            width: 344px;
            height: 58px;
            //background-color: $site-blue;
            padding: 17px 30px;
            border: $site-blue solid 1px;
            float: left;
        }
        .hotel {
            flex-direction: row;
            margin: 40 auto;
            width: 453px;
            height: 58px;
            //background-color: $site-blue;
            padding: 17px 30px;
            border: $site-blue solid 1px;
            float: right;
        }
    }
    .row3{
        border: $site-blue solid 1px;
        height: 58px;
        margin-bottom: 20px;
        .check-in {
            width:698px;
            padding: 17px 30px;
        }
    }
    .row4{
        border: $site-blue solid 1px;
        height: 58px;
        margin-bottom: 20px;
        .check-out {
            width:698px;
            padding: 17px 30px;
        }
    }
    .row5{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        .adult {
            border: $site-blue solid 1px;
            height: 58px;
            width: 224px;
            padding: 17px 30px;
        }
        .children {
            border: $site-blue solid 1px;
            height: 58px;
            width: 224px;
            padding: 17px 30px;
        }
        .rooms {
            border: $site-blue solid 1px;
            height: 58px;
            width: 224px;
            padding: 17px 30px;
        }
    }

    .message {
        margin-top: 40px;
        border: $site-blue solid 1px;
        width:890px;
        height: 192px;
        padding: 17px 30px;
    }
    .submit{
        margin-top: 40px;
        background-color: $site-blue;
        padding: 10px 30px;
        border-radius: 20px;
        text-align:center;
        color:white;
    }



}